$primary: #7367f0;
$success: #28c76f;
$danger: #ea5455;
$warning: #ff9f43;
$white: #ffffff;
$text: #625f6e;
$light: #f6f6f6;
$light-primary: #f1f0fe;

$dark: #1e1e1e;
$grey: #b8c2cc;
$grey-light: #dae1e7;
$black: #22292f;
